<!DOCTYPE html>
<html lang="{{ site.lang }}">


{% include head.html %}

<body id="body">

	<main class="main">
	
		<div class="content">
		
			<h1 class="body__title">{{ site.title }}</h1>
			<h2 class="body__description">{{ site.description }}</h2>
			
			<ul class="blogcontent">
			{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
			{% for post in site.posts %}
			
			{%- capture i18n_date -%}
			{{ post.date | date: "%Y" }},
			{% assign m = post.date | date: "%-m" | minus: 1 %}
			{{ site.months[m] }},
			{{ post.date | date: "%-d" }}			
			{%- endcapture -%}
			
			<li>
				<h2 class="post__title">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h2>
				<p class="post__date"><small>{{ i18n_date }}</small></p>
				<p>{{ post.descr }}</p>
			</li>
			{% endfor %}
			</ul>

		</div>
	
	</main>

	{% include footer.html %}

</body>
</html>