<!DOCTYPE html>
<html lang="{{ site.lang }}">


{% include head.html %}

<body id="body">

	<main class="main">
	
		<div class="content">
		
			<h1>{{ site.title }}</h1>
			<h2>{{ site.description }}</h2>
			
			<ul class="blogcontent">
			{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
			{% for post in site.posts %}
			
			{% capture i18n_date %}
			{{ post.date | date: "%-d" }}
			{% assign m = post.date | date: "%-m" | minus: 1 %}
			{{ site.months[m] }}
			{{ post.date | date: "%Y" }}
			{% endcapture %}
			
			<li>
				<h2 class="post__title">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h2>
				<p class="post__date"><small>{{ i18n_date }}</small></p>
				<p>Content</p>
			</li>
			{% endfor %}
			</ul>

		</div>
	
	</main>

	{% include footer.html %}

</body>
</html>